.Button {
  border: 1px solid var(--black-color);
  background-color: transparent;
  margin: 1em;
  padding: 2em;
  width: 200px;
  text-transform: uppercase;
  transition: all 200ms ease-in;
}
.Button:hover {
  cursor: pointer;
  background-color: var(--gold-color);
  color: var(--white-color);
  border: 1px solid transparent;
}

.Button:disabled {
  background-color: var(--error-color);
  color: var(--white-color);
}

.Button:disabled:hover {
  cursor: not-allowed;
}
