.Wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 1em;
}

.InputWrapper {
  margin: 0.5em 1em;
}

.InputSelect {
  background-color: transparent;
  border: 1px solid var(--black-color);
  padding: 1em;
  margin: 1em 0;
}

.InputSelect:hover {
  cursor: pointer;
}
